body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  min-width: 100dvw;
  margin: 0;
  color: aliceblue;
  background-color: #000000;
  padding: 0;
  font-family: Cherry Bomb One, sans-serif;
  font-size: 1.8rem;
}

main {
  padding: 1rem;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: clamp(2.8rem, 12vw, 3.8rem);
  line-height: 1;
  margin-bottom: 0.8rem;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  row-gap: 0.1rem;
  padding: 0;
  margin: 0.5rem;
}

.footer {
  margin: 0;
  margin-top: 0.6rem;
  font-size: 1.5rem;
  opacity: 0.4;
}

a {
  color: #3859ff;
}
.youtube {
  color: #ff8888;
}
.bsky {
  color: #98d1ff;
}
.github {
  color: #d4d4d4;
}
.steam {
  color: #a1aeff;
}
.discord {
  color: #b19fff;
}